---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Your Own CV | Ejemplo" canonical='https://your-own-cv.vercel.app/example' >
  <main class="min-h-screen w-full gap-4 flex flex-col sm:flex-row items-center justify-center ">
    <iframe src="./your-own-cv.pdf" width="800" height="600" frameborder="0" allowfullscreen></iframe>
      </main>
</Layout>
